@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open', sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(177, 231, 245);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.contenedor_nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 10px;
    
}
.enlaces_header{
    font-weight: 300;
    font-size: large;
    margin-left: auto;
    transition: all ease-in-out .6s;   
}
.contenedor_nav .enlaces_header a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;

}
.contenedor_nav .enlaces_header a.boton{
    position: relative;
}
.contenedor_nav .enlaces_header a.boton::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.contenedor_nav .enlaces_header a.boton:hover::after{
    transform: scaleX(1);
}
.contenedor {

    margin: auto;
    overflow: hidden;
    background-color: rgb(192, 234, 245);;
}

.contenido-header {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 10;
}

.contenido-header > img {
    width: 500px;
    height: 300px;
    animation: ease-in animacion 0.5s;
    position: relative;
    left: 20%;
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header P {
    font-weight: 300;
    margin-top: 14px;
    color: #5d6678;
    text-align: justify;
}

@keyframes animacion {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}